@import 'tailwindcss';

:root {
  --background: #282a36;
  --foreground: #f8f8f2;
  --dracula-card: #1f2133;
  --dracula-white: #ffffff;
  --dracula-selection: #969dab;
  --dracula-selection-light: #3c3f5e;
  --dracula-comment: #2d2f44;
  --dracula-green: #00a63e;
  --dracula-green-hover: #008236;
  --dracula-orange: #ffb86c;
  --dracula-purple: #9810fa;
  --dracula-purple-hover: #8200db;
  --dracula-red: #e63c3c;
  --dracula-red-hover: #9f0008;
  --dracula-indigo: #8a7dff;
  --dracula-bar: #ac6de3;
  --dracula-button-bright: #6272a4;
  --dracula-button-bright-hover: #5861a0;
  --dracula-button-dark: #44475a;
  --dracula-button-dark-hover: #51536a;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

::selection {
  background-color: var(--dracula-selection);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
