.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #f7f7f7, #e7e7e7);
  }
  
  .errorContent {
    text-align: auto; 
    padding: 40px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: auto;
  }
  
  .errorTitle {
    font-size: 80px;
    font-weight: bold;
    color: #5fbf22;
    margin: auto;
  }
  
  .errorText {
    font-size: auto;
    margin: auto;
  }
  
  .errorDescription {
    font-size: auto;
    color: #666666;
    margin: auto;
  }
